<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enemies</key>
	<dict>
		<key>EvilClone</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBackward</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Ranged</key>
					<string>BackThrowing</string>
					<key>Hurt</key>
					<string>BackHurt</string>
					<key>Idle</key>
					<string>IdleBack</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkForward</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Ranged</key>
					<string>FrontThrowing</string>
					<key>Hurt</key>
					<string>FrontHurt</string>
					<key>Idle</key>
					<string>IdleFront</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Ranged</key>
					<string>RightThrowing</string>
					<key>Hurt</key>
					<string>RightHurt</string>
					<key>Idle</key>
					<string>IdleRight</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Ranged</key>
					<string>LeftThrowing</string>
					<key>Hurt</key>
					<string>LeftHurt</string>
					<key>Idle</key>
					<string>IdleLeft</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
			</dict>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<integer>8</integer>
				<key>Size</key>
				<string>{150, 150}</string>
				<key>ScaleTo</key>
				<real>1.1</real>
				<key>ScaleTime</key>
				<real>0.5</real>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>3</integer>
				<key>Within</key>
				<integer>100</integer>
				<key>RemoveOnContact</key>
				<false/>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Sword</string>
				<key>TimeBetweenUse</key>
				<integer>4</integer>
				<key>Within</key>
				<integer>400</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Damage</key>
				<integer>1</integer>
				<key>Immunity</key>
				<integer>1</integer>
				<key>ImmunityWhenIdle</key>
				<true/>
				<key>ShowHealthWhenHit</key>
				<true/>
			</dict>
			<key>Rewards</key>
			<dict>
				<key>Currency</key>
				<integer>12</integer>
				<key>XP</key>
				<integer>100</integer>
			</dict>
			<key>RemoveWhen - OFF</key>
			<dict>
				<key>CastleKey</key>
				<integer>1</integer>
			</dict>
			<key>AfterDefeat</key>
			<dict>
				<key>RespawnAfter</key>
				<integer>5</integer>
				<key>RespawnWithRewards</key>
				<true/>
				<key>DeleteFromLevel</key>
				<false/>
				<key>DeleteBody</key>
				<false/>
			</dict>
			<key>Movement</key>
			<dict>
				<key>Within</key>
				<integer>200</integer>
				<key>WalkRandomly</key>
				<true/>
				<key>WalkTime</key>
				<integer>2</integer>
				<key>WalkDistance</key>
				<integer>100</integer>
				<key>WaitTime</key>
				<integer>2</integer>
				<key>RandomWaitTime - OFF</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>EvilClone2</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBack</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Ranged</key>
					<string>BackThrowing</string>
					<key>Hurt</key>
					<string>BackHurt</string>
					<key>Idle</key>
					<string>IdleBack</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkFront</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Ranged</key>
					<string>FrontThrowing</string>
					<key>Hurt</key>
					<string>FrontHurt</string>
					<key>Idle</key>
					<string>IdleFront</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Ranged</key>
					<string>RightThrowing</string>
					<key>Hurt</key>
					<string>RightHurt</string>
					<key>Idle</key>
					<string>IdleRight</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Ranged</key>
					<string>LeftThrowing</string>
					<key>Hurt</key>
					<string>LeftHurt</string>
					<key>Idle</key>
					<string>IdleLeft</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
			</dict>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<integer>8</integer>
				<key>Size</key>
				<string>{150, 150}</string>
				<key>ScaleTo</key>
				<real>1.1</real>
				<key>ScaleTime</key>
				<real>0.5</real>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>3</integer>
				<key>Within</key>
				<integer>100</integer>
				<key>RemoveOnContact</key>
				<false/>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Axe</string>
				<key>TimeBetweenUse</key>
				<integer>4</integer>
				<key>Within</key>
				<integer>400</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Damage</key>
				<integer>1</integer>
				<key>Immunity</key>
				<integer>1</integer>
				<key>ImmunityWhenIdle</key>
				<true/>
			</dict>
			<key>Rewards</key>
			<dict>
				<key>Currency</key>
				<integer>12</integer>
				<key>XP</key>
				<integer>2</integer>
			</dict>
			<key>RemoveWhen - OFF</key>
			<dict>
				<key>CastleKey</key>
				<integer>1</integer>
			</dict>
			<key>AfterDefeat</key>
			<dict>
				<key>RespawnAfter</key>
				<integer>5</integer>
				<key>RespawnWithRewards</key>
				<true/>
				<key>DeleteFromLevel</key>
				<false/>
				<key>DeleteBody</key>
				<false/>
			</dict>
			<key>Movement</key>
			<dict>
				<key>Within</key>
				<integer>300</integer>
				<key>Speed</key>
				<integer>5</integer>
				<key>FollowPlayer</key>
				<true/>
			</dict>
		</dict>
		<key>EvilClone3</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBack</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Ranged</key>
					<string>BackThrowing</string>
					<key>Hurt</key>
					<string>BackHurt</string>
					<key>Idle</key>
					<string>IdleBack</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkFront</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Ranged</key>
					<string>FrontThrowing</string>
					<key>Hurt</key>
					<string>FrontHurt</string>
					<key>Idle</key>
					<string>IdleFront</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Ranged</key>
					<string>RightThrowing</string>
					<key>Hurt</key>
					<string>RightHurt</string>
					<key>Idle</key>
					<string>IdleRight</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Ranged</key>
					<string>LeftThrowing</string>
					<key>Hurt</key>
					<string>LeftHurt</string>
					<key>Idle</key>
					<string>IdleLeft</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
			</dict>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<integer>8</integer>
				<key>Size</key>
				<string>{150, 150}</string>
				<key>ScaleTo</key>
				<real>1.1</real>
				<key>ScaleTime</key>
				<real>0.5</real>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>3</integer>
				<key>Within</key>
				<integer>100</integer>
				<key>RemoveOnContact</key>
				<false/>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Sword</string>
				<key>TimeBetweenUse</key>
				<integer>4</integer>
				<key>Within</key>
				<integer>400</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>Health</key>
				<integer>5</integer>
				<key>Damage</key>
				<integer>1</integer>
				<key>Immunity</key>
				<integer>1</integer>
				<key>ImmunityWhenIdle</key>
				<true/>
			</dict>
			<key>Rewards</key>
			<dict>
				<key>Currency</key>
				<integer>12</integer>
				<key>XP</key>
				<integer>2</integer>
			</dict>
			<key>RemoveWhen - OFF</key>
			<dict>
				<key>CastleKey</key>
				<integer>1</integer>
			</dict>
			<key>AfterDefeat</key>
			<dict>
				<key>RespawnAfter</key>
				<integer>5</integer>
				<key>RespawnWithRewards</key>
				<true/>
				<key>DeleteFromLevel</key>
				<false/>
				<key>DeleteBody</key>
				<false/>
			</dict>
			<key>Movement</key>
			<dict>
				<key>Within</key>
				<integer>200</integer>
				<key>Actions</key>
				<array>
					<string>EnemyWalk</string>
					<string>EnemyWalk2</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Inventory</key>
	<dict>
		<key>Diamond</key>
		<dict>
			<key>Icon</key>
			<string>InventoryIconDiamond</string>
			<key>ShowCount</key>
			<true/>
			<key>CountOffset</key>
			<string>{15,-3}</string>
		</dict>
		<key>CastleKey</key>
		<dict>
			<key>Icon</key>
			<string>InventoryIconKey</string>
			<key>ShowCount</key>
			<true/>
			<key>CountOffset</key>
			<string>{15,-3}</string>
		</dict>
	</dict>
	<key>XP</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Level 1</string>
			<key>Max</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<string></string>
				<key>Projectile</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<string></string>
				<key>Class</key>
				<string></string>
			</dict>
			<key>Name</key>
			<string>Level 2</string>
			<key>Max</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<string></string>
				<key>Projectile</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<string></string>
				<key>Class</key>
				<string></string>
			</dict>
			<key>Name</key>
			<string>Level 3</string>
			<key>Max</key>
			<integer>600</integer>
		</dict>
	</array>
	<key>Projectiles</key>
	<dict>
		<key>Axe</key>
		<dict>
			<key>Icon</key>
			<string>AxeIcon</string>
			<key>Ammo</key>
			<integer>5</integer>
			<key>Offset</key>
			<integer>30</integer>
			<key>ZPosition</key>
			<integer>200</integer>
			<key>Image</key>
			<string>Axe</string>
			<key>Animation</key>
			<string></string>
			<key>ContactAnimation</key>
			<string>Impact</string>
			<key>TravelTime</key>
			<integer>1</integer>
			<key>Distance</key>
			<integer>300</integer>
			<key>RotationTime</key>
			<real>0.5</real>
			<key>Damage</key>
			<integer>1</integer>
			<key>Remove</key>
			<true/>
		</dict>
		<key>Sword</key>
		<dict>
			<key>Offset</key>
			<integer>30</integer>
			<key>Ammo</key>
			<integer>200</integer>
			<key>ZPosition</key>
			<integer>200</integer>
			<key>Image</key>
			<string>Sword</string>
			<key>Icon</key>
			<string>SwordIcon</string>
			<key>Animation</key>
			<string></string>
			<key>ContactAnimation</key>
			<string>Impact</string>
			<key>TravelTime</key>
			<integer>1</integer>
			<key>Distance</key>
			<integer>300</integer>
			<key>RotationTime</key>
			<real>0.5</real>
			<key>Damage</key>
			<integer>1</integer>
			<key>Remove</key>
			<true/>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>PlayerStartingClass</key>
		<string>Peasant</string>
		<key>WalkDiagonal</key>
		<true/>
		<key>PathAlpha</key>
		<real>0.2</real>
		<key>WalkWithPath</key>
		<true/>
		<key>AttackAnywhere</key>
		<false/>
	</dict>
	<key>Class</key>
	<dict>
		<key>Peasant</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkForward</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Ranged</key>
					<string>FrontAttack</string>
					<key>Hurt</key>
					<string>FrontHurt</string>
					<key>Idle</key>
					<string>IdleFront</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Ranged</key>
					<string>RightAttack</string>
					<key>Hurt</key>
					<string>RightHurt</string>
					<key>Idle</key>
					<string>IdleRight</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Ranged</key>
					<string>LeftAttack</string>
					<key>Hurt</key>
					<string>LeftHurt</string>
					<key>Idle</key>
					<string>IdleLeft</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBackward</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Ranged</key>
					<string>BackAttack</string>
					<key>Hurt</key>
					<string>BackHurt</string>
					<key>Idle</key>
					<string>IdleBack</string>
					<key>Dying</key>
					<string>Dying</string>
				</dict>
			</dict>
			<key>Sounds</key>
			<dict/>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<string>2</string>
				<key>Size</key>
				<string>{100,100}</string>
				<key>ScaleTo</key>
				<integer>3</integer>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Sword</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>PathSpeed</key>
				<real>0.5</real>
				<key>Speed</key>
				<integer>5</integer>
				<key>Health</key>
				<integer>20</integer>
				<key>Armor</key>
				<integer>20</integer>
				<key>Immunity</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Swordsman</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkForward</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Ranged</key>
					<string>FrontAttack</string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleFront</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Ranged</key>
					<string>RightAttack</string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleRight</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Ranged</key>
					<string>LeftAttack</string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleLeft</string>
				</dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBackward</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Ranged</key>
					<string>BackAttack</string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleBack</string>
				</dict>
			</dict>
			<key>Sounds</key>
			<dict/>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<string>0</string>
				<key>Size</key>
				<string>{100,100}</string>
				<key>ScaleTo</key>
				<integer>3</integer>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Sword</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>PathSpeed</key>
				<real>0.5</real>
				<key>Speed</key>
				<integer>2</integer>
				<key>Health</key>
				<integer>20</integer>
				<key>Armor</key>
				<integer>20</integer>
				<key>Immunity</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>Levels</key>
	<dict>
		<key>Grassland</key>
		<dict>
			<key>Clear - OFF</key>
			<array>
				<string>CastleKey</string>
			</array>
			<key>Rewards - OFF</key>
			<dict>
				<key>CastleKey</key>
				<integer>1</integer>
				<key>Health</key>
				<integer>0</integer>
				<key>Projectile</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<integer>0</integer>
				<key>Class</key>
				<string></string>
			</dict>
			<key>Properties</key>
			<dict>
				<key>Rewards</key>
				<dict>
					<key>Class</key>
					<string></string>
					<key>Currency</key>
					<string></string>
					<key>Inventory</key>
					<string></string>
					<key>Projectile</key>
					<string></string>
					<key>Health</key>
					<string></string>
				</dict>
				<key>Clear</key>
				<dict/>
				<key>DisableAttack</key>
				<false/>
				<key>CameraOffset</key>
				<string>{ 0 , 0 }</string>
				<key>ContinuePoint</key>
				<true/>
				<key>CameraFollowsPlayer</key>
				<true/>
			</dict>
			<key>NPC</key>
			<dict>
				<key>Villager1</key>
				<dict>
					<key>Time</key>
					<integer>1</integer>
					<key>CollidableWithPlayer</key>
					<false/>
					<key>CollidableWithItems</key>
					<true/>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Hey stranger did you hear about the disturbance at the cave last night?</string>
						<string>My brother heard something strange at the cave last night.</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to scratching my balls?</string>
						<string>Tick tock, my balls ain&apos;t gonna scratch themselves.</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
				</dict>
				<key>Villager2</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Hey stranger did you hear about the disturbance at the cave last night?</string>
						<string>My brother heard something strange at the cave last night.</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to scratching my balls?</string>
						<string>Tick tock, my balls ain&apos;t gonna scratch themselves.</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>CollidableWithItems</key>
					<true/>
					<key>CollidableWithPlayer</key>
					<false/>
				</dict>
			</dict>
			<key>Items</key>
			<dict>
				<key>Diamond</key>
				<dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteFromLevel</key>
						<true/>
					</dict>
					<key>Rewards</key>
					<dict>
						<key>Diamond</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Axe</key>
				<dict>
					<key>Rewards</key>
					<dict>
						<key>Projectile</key>
						<string>Axe</string>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteFromLevel</key>
						<true/>
					</dict>
				</dict>
				<key>Chest</key>
				<dict>
					<key>RememberTo</key>
					<dict>
						<key>RemainOpen</key>
						<true/>
						<key>NeverRewardAgain</key>
						<true/>
						<key>NeverShowAgain - OFF</key>
						<true/>
					</dict>
					<key>Requires</key>
					<dict>
						<key>TimerName</key>
						<string>OpenTimer</string>
						<key>TimeToOpen</key>
						<integer>5</integer>
					</dict>
					<key>Rewards </key>
					<dict>
						<key>Diamonds</key>
						<integer>10</integer>
					</dict>
					<key>Text</key>
					<dict>
						<key>Time</key>
						<integer>3</integer>
						<key>Locked</key>
						<array>
							<string>I think I can get it open...just need a few more moments!</string>
							<string>I can pick this - should have spent more points on dex!</string>
						</array>
						<key>Open</key>
						<string>SCORE!</string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenAnimation</key>
						<string>ChestOpen</string>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteBody</key>
						<true/>
					</dict>
				</dict>
				<key>CastleKey</key>
				<dict>
					<key>RemoveWhen</key>
					<dict>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
					<key>Rewards</key>
					<dict>
						<key>Currency</key>
						<integer>12</integer>
						<key>XP</key>
						<integer>201</integer>
						<key>Class</key>
						<string>Swordsman</string>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteFromLevel</key>
						<true/>
					</dict>
				</dict>
				<key>TheCastle</key>
				<dict>
					<key>RememberTo</key>
					<dict>
						<key>RemainOpen</key>
						<true/>
						<key>RemoveText</key>
						<false/>
						<key>NeverRewardAgain</key>
						<false/>
						<key>NeverShowAgain</key>
						<false/>
					</dict>
					<key>Requires</key>
					<dict>
						<key>Thing</key>
						<string>CastleKey</string>
						<key>Amount</key>
						<integer>1</integer>
						<key>DeductOnEntry</key>
						<true/>
						<key>TimeToOpen</key>
						<string>0</string>
					</dict>
					<key>Rewards - OFF</key>
					<dict>
						<key>Health</key>
						<string></string>
						<key>Projectile</key>
						<string></string>
						<key>Inventory</key>
						<string></string>
						<key>Currency</key>
						<string></string>
						<key>Class</key>
						<string></string>
					</dict>
					<key>Text</key>
					<dict>
						<key>Time</key>
						<integer>3</integer>
						<key>OpenIcon</key>
						<string>CastleIconOpen</string>
						<key>UnlockedIcon</key>
						<string>CastleIconUnlocked</string>
						<key>LockedIcon</key>
						<string>CastleIconLocked</string>
						<key>Locked</key>
						<array>
							<string>Um, it might need an item to open the door.</string>
							<string>Dumbass, it&apos;s locked!</string>
						</array>
						<key>Unlocked</key>
						<string>Is this the key to the castle?</string>
						<key>Open</key>
						<string>Schwing!</string>
					</dict>
					<key>PortalTo</key>
					<dict>
						<key>Delay</key>
						<integer>2</integer>
						<key>Level</key>
						<string>Dungeon</string>
						<key>Where</key>
						<string>EntryPoint</string>
					</dict>
					<key>AltPortalTo</key>
					<dict>
						<key>Level</key>
						<string></string>
						<key>Where</key>
						<string>VillagerRange</string>
						<key>Delay</key>
						<integer>2</integer>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenImage</key>
						<string>CastleOpen</string>
						<key>OpenAnimation - OFF</key>
						<string></string>
					</dict>
					<key>AfterContact - OFF</key>
					<dict>
						<key>DeleteFromLevel</key>
						<string></string>
						<key>DeleteBody</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Dungeon</key>
		<dict>
			<key>Properties</key>
			<dict>
				<key>Rewards</key>
				<dict>
					<key>Class</key>
					<string></string>
					<key>Currency</key>
					<string></string>
					<key>Inventory</key>
					<string></string>
					<key>Projectile</key>
					<string></string>
					<key>Health</key>
					<string></string>
				</dict>
				<key>Clear</key>
				<dict/>
				<key>DisableAttack</key>
				<false/>
				<key>CameraOffset</key>
				<string>{ 0 , 0 }</string>
				<key>ContinuePoint</key>
				<false/>
				<key>CameraFollowsPlayer</key>
				<true/>
			</dict>
			<key>NPC</key>
			<dict>
				<key>DungeonVillager1</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Wouldn&apos;t you like to see something fun?</string>
						<string>I have something fun to show you.</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to scratching my balls?</string>
						<string>Tick tock, my balls ain&apos;t gonna scratch themselves.</string>
					</array>
					<key>Range</key>
					<string>VillagerRange</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>CollidableWithItems</key>
					<true/>
					<key>CollidableWithPlayer</key>
					<false/>
				</dict>
			</dict>
			<key>Items</key>
			<dict>
				<key>TheCastle</key>
				<dict>
					<key>Requires</key>
					<dict>
						<key>Inventory</key>
						<string>Key</string>
						<key>Amount</key>
						<integer>50</integer>
						<key>DeductOnEntry</key>
						<false/>
						<key>TimeToOpen</key>
						<string></string>
					</dict>
					<key>Rewards - OFF</key>
					<dict>
						<key>Health</key>
						<string></string>
						<key>Projectile</key>
						<string></string>
						<key>Inventory</key>
						<string></string>
						<key>Currency</key>
						<string></string>
						<key>Class</key>
						<string></string>
					</dict>
					<key>Text</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>PortalTo</key>
					<dict>
						<key>Level</key>
						<string>Grassland</string>
						<key>Where</key>
						<string>EntryPoint</string>
					</dict>
					<key>AltPortalTo</key>
					<dict>
						<key>Level</key>
						<string></string>
						<key>Where</key>
						<string></string>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenImage</key>
						<string></string>
						<key>OpenAnimation</key>
						<string></string>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>NeverRewardAgain</key>
						<string></string>
						<key>NeverShowAgain</key>
						<string></string>
						<key>DeleteFromLevel</key>
						<string></string>
						<key>DeleteBody</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Items</key>
	<dict>
		<key>Coin</key>
		<dict>
			<key>Rewards</key>
			<dict>
				<key>Currency</key>
				<integer>12</integer>
				<key>XP</key>
				<integer>2</integer>
			</dict>
			<key>Appearance</key>
			<dict>
				<key>Animation</key>
				<string>Coin</string>
			</dict>
			<key>AfterContact</key>
			<dict>
				<key>DeleteFromLevel</key>
				<true/>
			</dict>
		</dict>
		<key>TheCastle2</key>
		<dict>
			<key>Requires</key>
			<dict>
				<key>Inventory</key>
				<string>Key</string>
				<key>Amount</key>
				<integer>50</integer>
				<key>DeductOnEntry</key>
				<false/>
				<key>TimeToOpen</key>
				<string></string>
			</dict>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<string></string>
				<key>Projectile</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<string></string>
				<key>Class</key>
				<string></string>
			</dict>
			<key>Text</key>
			<dict>
				<key>Locked</key>
				<string></string>
				<key>Open</key>
				<string></string>
			</dict>
			<key>PortalTo</key>
			<dict>
				<key>Level</key>
				<string></string>
				<key>Where</key>
				<string></string>
			</dict>
			<key>AltPortalTo</key>
			<dict>
				<key>Level</key>
				<string></string>
				<key>Where</key>
				<string></string>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>Locked</key>
				<string></string>
				<key>Open</key>
				<string></string>
			</dict>
			<key>Appearance</key>
			<dict>
				<key>OpenImage</key>
				<string></string>
				<key>OpenAnimation</key>
				<string></string>
			</dict>
			<key>AfterContact</key>
			<dict>
				<key>NeverRewardAgain</key>
				<string></string>
				<key>NeverShowAgain</key>
				<string></string>
				<key>DeleteFromLevel</key>
				<string></string>
				<key>DeleteBody</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
